#jinja2: lstrip_blocks: "True"
<drachtio>

    <!-- udp port to listen on for client connections and shared secret used to authenticate clients -->
    <admin port="{{drachtioAdminPort}}" secret="{{drachtioSecret}}">{{ drachtioBindAddress }}</admin>


    <request-handlers>
        <request-handler sip-method="*" http-method="{{ drachtioHttpMethod }}">{{ drachtioHttpHandler }}</request-handler>
    </request-handlers>


    <!-- sip configuration -->
    <sip>
        <contacts>
            <contact>sip:*:6060;transport=udp,tcp</contact>
            {% if drachtioTlsEnabled %}
            <contact>sips:*:6061;transport=tls</contact>
            <contact>sips:{{ drachtioIpAddress | default(ansible_host) }}:4433;transport=wss</contact>
            {% else %}
            <!--
            <contact>sips:*:6061;transport=tls</contact>
            <contact>sips:{{ drachtioIpAddress | default(ansible_host) }}:4433;transport=wss</contact>
            -->
            {% endif %}
        </contacts>

        {% if drachtioTlsEnabled %}
        <tls>
            <min-tls-version>{{ drachtioTlsVersion }}</min-tls-version>
            <key-file>{{ drachtioTlsKey }}</key-file>
            <cert-file>{{ drachtioTlsCert }}</cert-file>
            <chain-file>{{ drachtioTlsChain }}</chain-file>
        </tls>
        {% else %}
        <!--
        <tls>
            <min-tls-version>{{ drachtioTlsVersion }}</min-tls-version>
            <key-file>{{ drachtioTlsKey }}</key-file>
            <cert-file>{{ drachtioTlsCert }}</cert-file>
            <chain-file>{{ drachtioTlsChain }}</chain-file>
        </tls>
        -->
        {% endif %}

        <spammers action="reject" tcp-action="discard">
            <header name="User-Agent">
                <value>sip-cli</value>
                <value>sipcli</value>
                <value>friendly-scanner</value>
            </header>
            <header>
                <value>sipvicious</value>
            </header>
        </spammers>

        <udp-mtu>4096</udp-mtu>

        <!-- Homer for logging -->
        {% if drachtioHomerEnabled %}
        <capture-server port="{{ drachtioHomerPort }}" hep-version="3" id="{{ drachtioHomerId }}">{{ drachtioHomerServer }}</capture-server>
        {% else %}
        <!--
        <capture-server port="{{ drachtioHomerPort }}" hep-version="3" id="{{ drachtioHomerId }}">{{ drachtioHomerServer }}</capture-server>
        -->
        {% endif %}
    </sip>

    <cdrs>{{ drachtioCdrs }}</cdrs>

    {% if drachtioPrometheusEnabled %}
    <monitoring>
        <prometheus port="{{ drachtioPrometheusScrapePort }}">{{ drachtioPrometheusScrapeServer }}</prometheus>
    </monitoring>
    {% else %}
    <!--
    <monitoring>
        <prometheus port="{{ drachtioPrometheusScrapePort }}">{{ drachtioPrometheusScrapeServer }}</prometheus>
    </monitoring>
    -->
    {% endif %}

    <!-- logging configuration -->
    <logging>

        <file>
            <name>{{drachtioLogFileDirectory}}/{{drachtioLogFilePattern}}</name>
            <archive>{{ drachtioLogArchiveDirectory }}</archive>
            <size>{{ drachtioLogFileSize }}</size>
            <maxSize>{{ drachtioLogFileMaxSize }}</maxSize>
            <maxFiles>{{ drachtioLogMaxFiles }}</maxFiles>
            <auto-flush>true</auto-flush>
        </file>

        <!-- sofia internal log level, from 0 (minimal) to 9 (verbose) -->
        <sofia-loglevel>3</sofia-loglevel>

        <!-- notice, warning, error, info, debug.  Default: info -->
        <loglevel>info</loglevel>
    </logging>

</drachtio>
