<drachtio>

    <!-- udp port to listen on for client connections and shared secret used to authenticate clients -->
    <admin port="{{drachtioAdminPort}}" secret="{{drachtioSecret}}">0.0.0.0</admin>


    <request-handlers>
       <request-handler sip-method="*" http-method="{{ drachtioHttpMethod }}">{{ drachtioHttpHandler }}</request-handler>
    </request-handlers>


    <!-- sip configuration -->
    <sip>
        <contacts>
            <contact>sip:*:6060;transport=udp,tcp</contact>
            <contact>sips:*:6061;transport=tls</contact>
            <contact>sips:{{ drachtioIpAddress | default(ansible_host) }}:4433;transport=wss</contact>
        </contacts>

        <tls>
            <key-file>{{ drachtioTlsKey }}</key-file>
            <cert-file>{{ drachtioTlsCert }}</cert-file>
            <chain-file>{{ drachtioTlsChain }}</chain-file>
        </tls>

        <spammers action="reject" tcp-action="discard">
            <header name="User-Agent">
                <value>sip-cli</value>
                <value>sipcli</value>
                <value>friendly-scanner</value>
            </header>
            <header>
                <value>sipvicious</value>
            </header>
        </spammers>

        <udp-mtu>4096</udp-mtu>

        <!-- Homer for logging -->
        <capture-server port="9060" hep-version="3" id="101">10.155.250.80</capture-server>


    </sip>

    <cdrs>{{ drachtioCdrs }}</cdrs>

<!--
    <monitoring>
        <prometheus port="8088">127.0.0.1</prometheus>
    </monitoring>
-->

    <!-- logging configuration -->
    <logging>

        <file>
            <name>{{drachtioLogFileDirectory}}/{{drachtioLogFilePattern}}</name>
            <archive>{{ drachtioLogArchiveDirectory }}</archive>
            <size>{{ drachtioLogFileSize }}</size>
            <maxSize>{{ drachtioLogFileMaxSize }}</maxSize>
            <maxFiles>{{ drachtioLogMaxFiles }}</maxFiles>
            <auto-flush>true</auto-flush>
        </file>

        <!-- sofia internal log level, from 0 (minimal) to 9 (verbose) -->
        <sofia-loglevel>3</sofia-loglevel>

        <!-- notice, warning, error, info, debug.  Default: info -->
        <loglevel>info</loglevel>
    </logging>

</drachtio>
